body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    width: 275px;
    height: 425px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.qr_code img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.h2 {
    font-size: 22px;
    font-family: sans-serif;
    color: darkslategrey;
    text-align: center;
}

.p {
    font-size: 15px;
    font-family: sans-serif;
    color: grey;
    text-align: center;
}
